.gpt3__whatgpt3 {
    display: flex;
    flex-direction: column;

    padding: 2 rem;
    background: url("./../../assets/OL.png");
    filter: hue-rotate(300deg);
}

.gpt3__whatgpt3-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
    max-width: 700px;
}

.gpt3__whatgpt3-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.gpt3__whatgpt3-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.gpt3__whatgpt3-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}

.gpt3__whatgpt3-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .gpt3__whatgpt3-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .gpt3__whatgpt3-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .gpt3__whatgpt3-feature .gpt3__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .gpt3__whatgpt3-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .gpt3__whatgpt3-container .gpt3__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}

/*///////////////////////////////////////////////////////*/



  
  .main {
    display: flex;
    
    margin-right: -1;
  }
  
  .card {
    width: 20%;
    position: relative;
    background-color: rgb(16 16 16);
    border: 2px solid rgb(255 255 255 / 5%);
    border-radius: 1.5rem;
    padding: -1rem;
  }
  
  .card:after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, mediumslateblue,transparent);
    box-shadow: 0 0 30px mediumslateblue;
    opacity: 0;
  }
  
  .card:after {
    top: 65%;
    opacity: 0;
  }
  
  .card:hover:after {
    top: 25%;
    opacity: 1;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px
    );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 2.3rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card-content .h1,.h3,.p {
    text-align: center;
  }
  
  .card-content .h1 {
    color: rgb(250 249 246);
    font-size: 2.6rem;
  }
  
  .card-content  .h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .card-content  .p {
    color: rgb(255 255 255 / 75%);
    line-height: 1.3rem;
  }
  
  @media(max-width: 700px) {
    .card {
      width: calc(100% - 2rem);
      margin: 0rem 1rem;
      padding: 0.75rem;
      border-radius: 1rem;
    }
  }
  
  @media(max-width: 600px) {
    .card-content {
      padding: 3rem;
    }
  
    .card-content  .h1 {
      font-size: 2.2rem;
    }
  }
  


  /*/////////////////////////////////////////////////////*/

  .glowing-border {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    animation: glowing 2s infinite;
  }
  
  @keyframes glowing {
    0% {
      border-color: #00bcd4;
      box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
    }
    50% {
      border-color: #0097a7;
      box-shadow: 0 0 20px rgba(0, 188, 212, 0.7);
    }
    100% {
      border-color: #6d7576;
      box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
    }
  }
  
