.gpt3__possibility {
  display: flex;
  flex-direction: row;
}

.gpt3__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 2rem;
}

.gpt3__possibility-image img {
  width: 100%;
  height: 80%;
  filter: hue-rotate(10deg);
}

.gpt3__possibility-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.gpt3__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
}

.gpt3__possibility-content h4:last-child {
  color: #ff8a71;
}

.gpt3__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

.gpt3__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-image {
    margin: 1rem 0;
  }

  .gpt3__possibility-image img {
    width: unset;
    height: unset;
  }

  .gpt3__possibility-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__possibility-image img {
    width: 100%;
    height: 100%;
  }
}

.spacer {
  height: 10px; /* Adjust this value as needed */
}

/*///////////////////////////////////////////*/

@font-face {
  font-family: "Relax";
  src: url("./../../assets/Azonix-1VB0.otf") format("opentype");
}

.card-container {
  background: linear-gradient(
    90deg,
    rgb(55, 94, 145) 0%,
    rgb(120, 86, 140) 49%,
    rgb(5, 41, 48) 100%
  );
  border-radius: 20px;
  padding: 15px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 350px;
  color: rgb(234, 234, 234);
  transition: 0.8s;
  margin-top: -3rem;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.card-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

.card-header .img-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background: linear-gradient(
    90deg,
    rgb(228, 238, 251) 0%,
    rgb(177, 149, 194) 49%,
    rgb(25, 73, 83) 100%
  );
}

.card-header .text-chat {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 20px;
  font-family: "Relax", sans-serif;
}

.card-body {
  flex: 1;
  overflow-y: auto;
}

.messages-container {
  padding: 15px;
}

.message-box {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.message-box.Bot {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  font-family: var(--font-family);
  left: 0;
}

.message-box.User {
  background-color: #bed9eb;
  color: #000000;
  font-size: 16px;
  font-family: var(--font-family);
  right: 0;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input .message-send {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: none;
}

.message-input .comment-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  
  margin-right: 10px; /* Add margin between input and button */
}

.message-input .button-send {
  background-color: #2b394c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.message-input .button-send:hover {
  background-color: #f1f1f1;
  color: #3b3636;
}
