@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Relax";
  src: url("./assets/fonts/asu.otf") format("woff2");
}
.heroBackground {
  background: url("./assets/images/heroSection.jpg");
  background-size: cover;
  background-position: center;
  /* filter: hue-rotate(80deg); */
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  @apply selection:bg-white/70 selection:text-black;
}

::-webkit-scrollbar {
  @apply h-1.5 w-2 bg-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-full absolute right-0 z-50;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/80;
}
.chat_____scrollbar::-webkit-scrollbar {
  @apply w-2 h-0 bg-transparent;
}
